@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{

    width: 100%;
}
.top{
    width: 100%;
    display: flex;
    img{
        width: 2.16rem;
        height: 0.72rem;
        padding: 0.16rem 0;
        margin-left: 0.18rem;
    }
    .zi{
     font-size: 32px;
     color: #000;
     margin-left: 0.93rem;
     margin-top: 0.37rem;
    }
    div{
        display: flex;
        position: absolute;
        right: 0.18rem;
        margin-top: 0.15rem;
        span{
            display: flex;
            flex-direction: column;
            height: 0.45rem;
            padding: 0 0.17rem;
            position: relative;
            p{
                font-size: 0.22rem;
                color: #999;
                position: absolute;
                top: 0.4rem;
            }
            
        }
        .icon_b{
            position: absolute;
            right: 0.4rem;
        }
    }
}
.list{
    width: 100%;
    display: flex;
    height: 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    li{
        width: 25%;
        text-align: center;
        font-size: 36px;
        margin-top: 0.3rem;
        span{
            font-size: 30px;
            color: #999;
            margin-left: 0.27rem;
        }
        
    }
}
.gray{
    width: 100%;
    height: 5.86rem;
    background: #f4f4f4;
    .li{
        width: auto;
        margin: 0 16px;
        p{
            font-size: 0.28rem;
            color: #000;
            padding-top: 0.5rem;
            box-sizing: border-box;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            margin-top: 0.11rem;
            li{
                width: 2.33rem;
                height: 0.58rem;
                border: 1px solid #39c893;
                text-align: center;
                line-height: 0.58rem;
                font-size: 0.28rem;
                color: #999;
                margin-top: 0.25rem;
                margin-left: 0.05rem;
            }
        }
    }
}
.sure{
    width: 100%;
    height: 0.72rem;
    background: #39c893;
    text-align: center;
    line-height: 0.72rem;
    font-size: 0.36rem;
    color: white;
}
.box{
    width: auto;
    margin: 0 16px;
    display: flex;
    border-bottom: 1px solid #999;
    position: relative;
    img{
        width: 1.6rem;
        height: 1.6rem;
        margin-top: 0.36rem;
    }
    .sbox{
        width: 75%;
        height: 2.28rem;
        display: flex;
        flex-direction: column;
        margin-top: 0.36rem;
        .yihang{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 36px;
                color: #000;
            }
            span{
                display: inline-block;
                width: 0.6rem;
                height: 0.3rem;
                background: #3ac893;
                text-align: center;
                font-size: 24px;
                color: #fff;
                margin-left: 0.22rem;
            }
        }
        .erhang{
            display: flex;
            margin-top: 0.28rem;
            p{
                font-size: 28px;
                color: #000;
                margin-left: 0.22rem;
            }
            span{
                font-size: 28px;
                color: #999;
            }
        }
        .sanhang{
            display: flex;
            margin-top: 0.2rem;
            p{
                font-size: 28px;
                color: #000;
                margin-left: 0.22rem;
            }
            span{
                font-size: 28px;
                color: #999;
            }
        }
    }
}
.hui{
    width: 100%;
    height: 5.2rem;
    background: #000;
    opacity: 0.15;
    position: absolute;
    top: 8.7rem;
}
.last{
    width: 100%;
    height: 0.78rem;
    display: flex;
    img{
        width: 100%;
        height: 100%;
    }
}
