* {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav_1 {
  display: flex;
  box-sizing: border-box;
  background: #39C893;
  padding: 0.16rem 0 0 0.4rem; }
  .nav_1 .div_1 img {
    width: 1.14rem;
    height: 1.14rem; }
  .nav_1 .div_2 {
    padding-left: 0.28rem;
    margin-top: 0.16rem; }
    .nav_1 .div_2 img {
      width: 3rem;
      height: 0.33rem; }
    .nav_1 .div_2 p {
      margin-top: 0.22rem;
      font-size: 0.28rem;
      padding: 0.01rem  0.05rem;
      background: #29B27F;
      color: white;
      border-radius: 0.1rem; }
      .nav_1 .div_2 p span {
        color: #EED116; }
  .nav_1 .div_3 {
    line-height: 0.25rem;
    margin-left: 0.2rem; }
    .nav_1 .div_3 span {
      font-size: 0.355rem; }

.d_1 {
  position: relative;
  padding: 0.02rem 0 0.2rem; }
  .d_1 input {
    height: 0.68rem;
    width: 5.8rem;
    border: 0.02rem solid #39C893;
    margin-left: -0.07rem; }
  .d_1 button {
    position: absolute;
    background: #39C893;
    right: 0.10rem;
    bottom: 0.18rem;
    height: 0.7rem;
    width: 1.38rem;
    font-size: 0.27rem;
    color: white; }

.d_2 {
  margin: 0 0.16rem; }

.ul_1 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%; }
  .ul_1 li {
    border-bottom: 0.02rem solid #efefef;
    width: 33%;
    height: 0.75rem;
    line-height: 0.75rem;
    text-align: center; }

.ul_2 {
  display: flex;
  justify-content: space-between; }
  .ul_2 li {
    text-align: center;
    line-height: 42px; }
    .ul_2 li img {
      width: 1.05rem; }

.bb {
  width: 100%;
  height: 0.7rem;
  background: white;
  border: 0.02rem solid #39C893 !important;
  margin-bottom: 0.32rem !important; }

.sec_1 {
  display: flex;
  letter-spacing: 0.05rem; }
  .sec_1 .ss_1 {
    display: flex;
    padding: 0.32rem 0.18rem;
    font-size: 0.35rem;
    color: #000; }
    .sec_1 .ss_1 .sss_1 {
      width: 0.05rem;
      height: 0.45rem;
      background: #39C893; }
  .sec_1 .ss_2 {
    display: flex;
    font-size: 0.24rem;
    color: #999999;
    padding: 0.48rem 0; }

.li_1 {
  display: flex;
  justify-content: space-around;
  padding: 0 0.25rem 0.31rem 0.18rem; }
  .li_1 .li_d1 img {
    width: 1.9rem;
    height: 1.45rem; }
  .li_1 .li_d2 {
    margin-left: 0.22rem; }
    .li_1 .li_d2 .d2_p {
      font-size: 0.36rem;
      letter-spacing: 0.0001rem;
      color: #000000; }
  .li_1 .d1_d3 {
    display: flex;
    font-size: 0.28rem;
    color: #999; }
    .li_1 .d1_d3 .d3_p2 {
      margin-left: 0.75rem;
      margin-top: -0.03rem; }
      .li_1 .d1_d3 .d3_p2 span {
        font-size: 0.32rem; }

.ppp {
  font-size: 0.28rem;
  text-indent: 0.54rem;
  padding: 0.36rem 0.18rem;
  line-height: 0.5rem; }

.da_1 p {
  text-align: center;
  padding: 0.3rem 0;
  font-size: 0.28rem;
  color: #333333; }
  .da_1 p img {
    width: 0.32rem;
    height: 0.32rem; }
.da_1 ul {
  display: flex;
  font-size: 0.28rem;
  justify-content: space-between;
  padding: 0 0.5rem; }

.foot_1 {
  position: relative;
  overflow: hidden; }
  .foot_1 div {
    position: absolute;
    width: 0.96rem;
    height: 0.96rem;
    border-radius: 50%;
    top: -0.48rem;
    left: -0.48rem;
    background: #62D4A9;
    line-height: 497%; }
    .foot_1 div span {
      font-size: 0.24rem;
      color: white;
      font-weight: bolder; }
  .foot_1 .bbb {
    font-size: 0.24rem;
    width: 1.75rem;
    height: 0.5rem;
    background: #feb605;
    color: white;
    font-weight: border;
    border-radius: 0.2rem;
    text-align: center;
    margin-left: 0.3rem; }

.uu li {
  padding-top: 0.18rem;
  display: flex;
  background: #282828; }
  .uu li img {
    width: 0.48rem;
    height: 0.48rem; }
.uu .pp1 {
  font-size: 0.18rem;
  color: white;
  margin-bottom: 0; }
  .uu .pp1 span {
    color: #DE8206; }
.uu .pp2 {
  color: #CCcccc;
  font-size: 0.12rem; }

.topp {
  width: 0.94rem;
  height: 0.94rem;
  border: 0.02rem solid #000000;
  border-radius: 50%;
  text-align: center;
  background: #9c9c9c;
  line-height: 0.94rem;
  position: fixed;
  right: 0.18rem;
  bottom: 2.5rem; }
  .topp span {
    font-size: 0.4rem; }

/*# sourceMappingURL=new_file.css.map */
